/**/provider.tf
/**/.terraform/
/**/.terraform.lock.hcl
/**/terraform.tfstate
/**/terraform.tfstate.backup
/.idea/.gitignore
/.idea/encodings.xml
/.idea/infra-terraform.iml
/.idea/modules.xml
/.idea/vcs.xml
/**/.terraform.tfstate.lock.info
